:root {
    font-size: 16px;
    font-family: segoe_light;

    --bg-primary: rgba(32, 32, 40, 0.4);
    --bg-secondary: rgba(36, 36, 52, 0.6);
    --bg-third: rgba(46, 47, 66, 0.6);

    --text-primary: #b8b8b8;
    --text-secondary: #ececec;

    --accent: #a295b1;
    --accent-transparent: rgba(137, 102, 138, 0.6);
    --accent-duller: #89668A;
    --accent-dullest: #7A597C;
    --scroll-bg: rgb(40, 34, 54);

    --icon-color:

    --scroll-width: 0.6rem;

    --icon-margin: 1.5rem;

    --navbar-hovered-width: 16rem;

    --home-bg-primary: hsl(240, 6%, 13%);
    --home-bg-secondary: hsl(240, 6%, 12%);

    --card-shadow-color: #161616;
    --card-shadow-size: 12px;
    /* scroll-behavior: smooth;  */
}



* {
    margin:0;
    padding:0;
}

body::-webkit-scrollbar {
    width: var(--scroll-width);
}
body::-webkit-scrollbar-track {
    background: var(--scroll-bg);
}
body::-webkit-scrollbar-thumb {
    background: var(--accent);
    border-radius: calc(var(--scroll-width) / 2 );
}
body {
    touch-action: none;

    color: black;
    background: black;
    background-color: var(--home-bg-secondary);
    opacity: 1;
    background-image:  url("stars.png");
    background-repeat: repeat;

    margin: 0px;
    padding: 0px;
    overflow: hidden;
}


html {
    color: black;
    background: black;
    background-color: var(--home-bg-secondary);
    opacity: 1;
    background-image:  url("stars.png");
    background-repeat: repeat;
}



/* Navbar */
.navbar {
    overflow: hidden;
    background: var(--bg-primary);
    position: absolute;
    transition: width 140ms ease;
    z-index:100;
}

.navbar-fixed {
    position: fixed;
}

.navbar-nav {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
    flex-direction: column;
    align-items: center;
    height:100%;
}

.nav-item {
    width: 100%;
    background: var(--bg-primary);
}

.active-nav svg {
    color: var(--accent);
    transition: color 0.3s
}
.nav-item:hover svg {
    color: var(--accent);
    transition: color 0.3s
}



.nav-link {
    display:flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    transition: 0.1s;
}


.active-nav {
    background: var(--bg-third);
}
.nav-item:hover {
    background: var(--bg-secondary);
}
.active-nav > .nav-link {
    color: var(--text-secondary);
}

.nav-link:hover {
    color: var(--text-secondary);
}

.link-text {
    display:inline-block;
    position: relative;
    display: none;
    margin-left: 0.7rem;
}

.underline-hover::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 2px;
    width: 0%;
    background: var(--accent);
    transition: width 0.3s;
}

.active-nav > a > .link-text::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 2px;
    width: 100%;
    background: var(--accent);
    transition: width 0.3s;
}

.nav-link svg {
    max-width: 2rem;
    min-width: 1rem;
    margin: 0 var(--icon-margin);
}

.logo {
    background: var(--bg-secondary);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.2ch;
    margin-bottom: 1rem;
    width: 100%;
}




/* CONTENT */
main {

    margin: 0;
    padding: 0;
}

.form-input {
  font-family: segoe_light;
  position: relative;
  bottom: -12px;
  left: -17px;
  width: 118%;
  padding: 3px 12px;
  border-radius: 5px;
  display: inline-block;
  border: 1px solid #1a052e;
  border-radius: 3px;
  box-sizing: border-box;
  background-color: var(--bg-secondary);
  color: var(--text-primary);
}

.form-submit {
  font-family: segoe_bold;
  width: 40%;
  background-color: var(--accent-duller);
  color: white;
  padding: 10px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position:relative;
  bottom:-5px;
}

.form-submit:hover {
  background-color: var(--accent-dullest);
}

.home-lines {
    position: relative;
    top: -135px;
    left: -35px;
    right: 0;
    height:90px;
    width:auto;
}

.home-section {
    padding: 0;
    margin: 0;


    height:100vh;
    width:100vw;
}
.projects-section {
    padding: 0;
    margin: 0;
    position:relative;

    height:100vh;
    width:100vw;
}


.main-header {
    font-family: seaford;
    font-size: clamp(1.7rem, 5rem, 9vw);
    font-weight: 400;
    color: var(--text-primary);
}

.contact-header {
    font-family: seaford;
    font-size: clamp(1.7rem, 3vw, 9vw);
    font-weight: 400;
    color: var(--text-primary);
}

.sub-title {
    font-size: clamp(1.3rem, 3rem, 6vw);
    position: relative;
    bottom: 20px;
    left: 40px;
    color: var(--text-primary);
}

.subtitle-list {
    position: relative;
    left: 82px;
    bottom: 25px;
    font-size: clamp(1.3rem, 3rem, 6vw);
    color: var(--accent);
}

.subtitle-list-2 {
    position: relative;
    left: 89px;
    bottom: 30px;
    font-size: clamp(1.3rem, 3rem, 6vw);
    color: var(--accent);
}

.info-paragraph {
    width: 36%;
    font-size: clamp(0.5rem, 1.2vw, 9vw);
    font-weight: 400;
    color: var(--text-primary);
    text-align: left;
    position:absolute;
    right: 30.5%;
}

.nav-style {
    background: var(--accent-transparent);
    border: transparent;
    padding: 15px;
    border-radius: 8px;
    cursor: pointer;
    color: var(--text-primary);
    transition: 0.5s;
}

.form-nav-style {
    background: var(--bg-secondary);
    border: transparent;
    padding: 15px;
    border-radius: 8px;
    cursor: pointer;
    color: var(--text-primary);
    transition: 0.5s;
}

.arrow-nav-style {
    background: var(--accent-transparent);
    border: transparent;
    padding: 7px;
    border-radius: 8px;
    cursor: pointer;
    color: var(--text-primary);
    transition: 0.25s;
}

.nav-style:hover {
    background: var(--bg-third);
}

.arrow-nav-style:hover {
    background: var(--bg-third);
}

.underline-hover {
    position: relative;
}

.button {
    font-size: 1.3rem;
    margin: 0;
}
.button > svg {
    height: 1.5rem;
    width: 1.5rem;
    vertical-align: center;
    position: relative;
    top: 0.2em;
    margin: 0;
    padding: 0;
}

.nav-style:hover .svg-hover-accent {
    color: var(--accent);
}

.svg-hover-accent {
    transition: color 0.3s;
}
.svg-hover-accent:hover {
    color: var(--accent);
}

.learn-more-button {
    margin-top:10px;
}

.learn-more-button-1 {
    position: absolute;
    bottom: 100px;
    right: 25px;
}

.learn-more-button-2 {
    position: absolute;
    bottom: -75px;
    right: -40px;
    width: 150%;
}

.arrow-button-up1 {
    position: absolute;
    left: 155px;
    top: -7px;
}

.arrow-button-down1 {
  position: absolute;
  left: 200px;
  top: -7px;
}

.arrow-button-up2 {
    position: absolute;
    left: 335px;
    top: -7px;
}

.arrow-button-down2 {
  position: absolute;
  left: 380px;
  top: -7px;
}

.arrow-button-up3 {
    position: absolute;
    left: 215px;
    top: -7px;
}

.arrow-button-down3 {
  position: absolute;
  left: 260px;
  top: -7px;
}

.list {
    background-color: transparent;
    color: var(--accent);
    font-weight: 500;
}

@keyframes blinkingText{
    0%{     opacity: 1;    }
    49%{    opacity: 1; }
    60%{    opacity: 0; }
    99%{    opacity: 0;  }
    100%{   opacity: 1;    }
}

.home-center-container {
    opacity: -webkit-calc((450 - var(--main-scrollTop)) / 500);
    /* background-color: hsl(0, 56%, 55%); */
}

.dimmer {
    content: '';
    position:absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: -5px;
    background-color: var(--bg-primary);
    opacity: -webkit-calc((var(--main-scrollTop)) / 400);
    /* background-color: hsl(0, 56%, 55%); */
}


/* Project page */

.projects-outer {
    width: 100%;
    height: 100%;
    padding-left: 5%;
    padding-top: 5rem;
}

.contact-outer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 5%;
    padding-top: 5rem;
    text-align: right;
}

.slide-in-title {
    opacity: 0;
    font-size: clamp(1.3rem, 2rem, 6vw);;
    color: var(--text-primary);
    transform: translate(-20%, 0%);
    transition: all 0.3s;
    width: 90%;
    height: 3rem;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 2px;
    border-style: dashed;
    border-color: var(--bg-secondary);
}

.slide-in-right {
    opacity: 0;
    font-size: clamp(1.3rem, 2rem, 6vw);;
    color: var(--text-primary);
    transform: translate(20%, 0%);
    transition: all 0.3s;
}

.slide-in {
    opacity: 1;
    transform: translate(0%, 0%)
}

/* Project container */
.projects-container {
    overflow: auto;
    overflow-x: hidden;
    padding:10px;
    list-style: none;
    flex-direction: row;
    flex-wrap: wrap;
    width: 85%;
    height: 75%;
}


/* #region Cards */

.card {
    float: left;
    display: inline-block;
    margin:10px;
    width: 15%;
    height: 125%;
    background-color:#1B1B1B;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
    position: relative;
    -webkit-box-shadow: 0 0 var(--card-shadow-size) 2px var(--card-shadow-color);
    -moz-box-shadow: 0 0 var(--card-shadow-size) 2px var(--card-shadow-color);
    box-shadow: 0 0 var(--card-shadow-size) 2px var(--card-shadow-color);
}

.portfolio-card {
    float: left;
    display: inline-block;
    margin:10px;
    width: 100%;
    height: 100%;
    left:-10px;
    top:-10px;
    background-color:#1B1B1B;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s;
    position: absolute;

    -webkit-box-shadow: 0 0 var(--card-shadow-size) 2px var(--card-shadow-color);
    -moz-box-shadow: 0 0 var(--card-shadow-size) 2px var(--card-shadow-color);
    box-shadow: 0 0 var(--card-shadow-size) 2px var(--card-shadow-color);
}

.portfolio-back {
    float: left;
    display: inline-block;
    margin:10px;
    width: 16%;
    height: 47.5%;
    background-color:#1B1B1B;
    border-radius: 10px;
    cursor: pointer;
    position: relative;

    -webkit-box-shadow: 0 0 var(--card-shadow-size) 2px var(--card-shadow-color);
    -moz-box-shadow: 0 0 var(--card-shadow-size) 2px var(--card-shadow-color);
    box-shadow: 0 0 var(--card-shadow-size) 2px var(--card-shadow-color);
}

.card-a:hover #card-cover {
    transform: translate(100%, 0%);
}

.card:hover {
    transform: scale(1.05);

}

.card-image {
    position: relative;
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    filter: contrast(0.90) brightness(0.85);
    /* aspect-ratio: 16/98; */
}


.card-divider {
    border: none;
    border-top: 2px solid;
    border-color: var(--bg-secondary);
    width:95%;
    margin-left:2.5%;
}

.card-contents {
    width: 90%;
    padding: 10px;
    position: relative;

}

.card-a {
    text-decoration: none;
}

.card-title {
    font-family: seaford;
    font-size: 1.3vw;
    font-weight: 600;
    color: var(--text-primary);
}

.card-title-2 {
    font-family: seaford;
    font-size: 1.3vw;
    font-weight: 600;
    color: var(--text-primary);
    position: absolute;
    text-align: center;
    top: -62.5%;
    left: 31%;
}


.card-text-title {
    font-family: seaford;
    padding-top: 7px;
    padding-left: 15px;
    font-size: 1.2vw;
    font-weight: 600;
    color: var(--text-primary);
}

.card-description {
    padding-left: 15px;
    font-size: 0.8vw;
    font-weight: 400;
    color: var(--text-primary);
    text-align: left;
}

.card-description-2 {
    padding-left: 15px;
    font-size: 0.8vw;
    font-weight: 400;
    color: var(--text-primary);
    text-align: left;
}

.card-player {
    position:absolute;
    bottom:10px;
    left: 10px;
    display: flex;
    flex-direction: row;
}

.card-tag {
    font-size: 1.05rem;
    font-weight: lighter;
    color: var(--text-secondary);
    background-color: var(--card-tag-color);
    filter: saturate(80%);
    border-radius: 3px;
    padding-left: 5px;
    padding-right: 5px;
    margin-right:5px;
}
/* #endregion */


/* #region Contact */
.contact-section {
    padding: 0;
    margin: 0;
    position: relative;
    height:100vh;
    width:100vw;
}


.social-left {
    font-size: clamp(0.6rem, 1rem, 3.1vw);
    display: inline-block;
    background: var(--bg-third);
    height: 100%;
    width: clamp(130px, 5%, 20%);
    margin-right:0px;
    border-radius: 10px 0px 0px 10px;
}


.social-left:hover {
    background: var(--bg-third);
}

.social-right {
    font-size: clamp(0.6rem, 1rem, 3vw);
    margin-left:0px;
    display: inline-block;
    background: var(--bg-secondary);
    height: 100%;
    width: clamp(120px, 15rem, 27%);
    border-radius: 0px 10px 10px 0px;

}

.form-right {
    font-size: clamp(0.6rem, 0.8rem, 3vw);
    margin-top:-12px;
    display: inline-block;
    background: none;
    width: clamp(120px, 15rem, 27%);
    border-radius: 0px 10px 10px 0px;
}

.social-hr {
    width: 10%;
    margin-top: 7px;
    margin-bottom: 7px;

    border: none;
    border-top: 2px solid;
    border-color: var(--bg-primary);

}
/* #endregion */

/* AUDIO PLAYER */

.player-button {
  display: inline-block;
  height: 1em;
  background: none;
  padding: 0;
  border: none;
  font-size: 1.2em;
  position: relative;
  bottom: -0.15em;
}

.audio-player {
  --player-button-width: 2.5vw;
  --space: .5em;
  width: 100%;
  position: relative;
  bottom: -5px;
}

.controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.player-button {
  background-color: transparent;
  border: 0;
  width: var(--player-button-width);
  height: var(--player-button-width);
  cursor: pointer;
  padding: 0;
  color: var(--text-primary);
}

.player-button:hover {
  color: var(--accent);
  transition: all .3s;
}

.timeline {
  -webkit-appearance: none;
  width: 7vw;
  height: .5em;
  background-color: var(--text-primary);
  border-radius: 5px;
  background-size: 0% 100%;
  background-image: linear-gradient(#a295b1, #a295b1);
  background-repeat: no-repeat;
  margin-right: var(--space);
  position: relative;
  top: 4px;
  right: -3.5%;
}

.timeline::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  transition: all .1s;
  background-color: var(--accent);
}

.timeline::-moz-range-thumb {
  -webkit-appearance: none;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  transition: all .1s;
  background-color: var(--accent);
}

.timeline::-ms-thumb {
  -webkit-appearance: none;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  transition: all .1s;
  background-color: var(--accent);
}

.timeline::-webkit-slider-thumb:hover {
  background-color: #877899;
}

.timeline:hover::-webkit-slider-thumb {
  opacity: 1;
}

.timeline::-moz-range-thumb:hover {
  background-color: #877899;
}

.timeline:hover::-moz-range-thumb {
  opacity: 1;
}

.timeline::-ms-thumb:hover {
  background-color: #877899;
}

.timeline:hover::-ms-thumb {
  opacity: 1;
}

.timeline::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.timeline::-moz-range-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.timeline::-ms-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}


.sc-link {
  align: center;
  width:19%;
  height:19%;
  position:absolute;
  left: 106%;
  bottom: 1.3vw;
  color: var(--text-primary);
  transition: all .3s;
}

.sc-link:hover {
  color: var(--accent);
}
/* #endregion */



/* Only computers */
@media only screen and (min-width: 1000px) {
    .projects-outer {
        padding-top: 6rem;
    }

    .contact-outer {
        padding-top: 6rem;
    }

    .nav-link svg {
        margin: 0;
    }

    .home-center-container {
        margin:auto;
        width:40%;
        height:25%;
        position:absolute;
        top:0;
        bottom:0;
        left:30%;
        right:0;
        /* background: hsl(0, 51%, 42%); */
        text-align: center;
    }

    .contact-center-container {
        margin:auto;
        width:40%;
        height:25%;
        position:absolute;
        top:30%;
        bottom:0;
        left:37%;
        right:0;
        /* background: hsl(0, 51%, 42%); */
        text-align: center;
    }

    .prices-container {

      width:75%;
      height:25%;
      position:absolute;
      top:150px;
      right:-34%;
      /* background: hsl(0, 51%, 42%); */
      text-align: center;
  }

  .price-info-container {

    width:75%;
    height:25%;
    position:absolute;
    top:135px;
    right:18.5%;
    /* background: hsl(0, 51%, 42%); */
    text-align: center;
}

    /* .navbar {
        right:0;
        top:0;
        width: 5rem;
        height: 100vh;
    } */
    .navbar {
        /* right:0%; */
        /* transform: translateX(-25%); */
        top:0;
        width: 100%;
        height: 5rem;
    }
    /* .navbar:hover {
        width: var(--navbar-hovered-width);
    } */

    .nav-item:hover .underline-hover::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -1px;
        height: 2px;
        width: 100%;
        background: var(--accent);
        transition: width 0.3s;
    }



    .underline-hover:hover::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -1px;
        height: 2px;
        width: 100%;
        background: var(--accent);
        transition: width 0.3s;
    }

    .form-subtitle {
        position:relative;
        bottom:-8px;
        font-size: clamp(0.3rem, 0.75vw, 6vw);
        width: 60%;
        color: var(--text-primary);
    }

    .navbar-nav {
        flex-direction: row;
        align-items: center;
    }


    .logo {
        display: none;
    }



    .navbar:hover .link-text {
        display: block;
    }

    .nav-item:last-child {
        margin-top: auto;
    }

    .nav-link {
        justify-content: center;
    }

    .text-img {
          position: absolute;
          visibility:hidden;
    }

    .link-text {
        display: block;


    }
}

/* Only mobile devices/tall devices */
@media only screen and (max-width:  1000px) {

  .audio-player {
    --player-button-width: 2.5em;
    --sound-button-width: 2em;
    --space: .5em;
    width: 15rem;
    position: relative;
    bottom: -5px;
  }

  .timeline {
    -webkit-appearance: none;
    width: calc(81% - (var(--player-button-width) + var(--sound-button-width) + var(--space)));
    height: .5em;
    background-color: var(--text-primary);
    border-radius: 5px;
    background-size: 0% 100%;
    background-image: linear-gradient(#a295b1, #a295b1);
    background-repeat: no-repeat;
    margin-right: var(--space);
    position: relative;
    top: 4px;
    right: -3.5%;
  }

  .sc-link {
    width:15%;
    height:15%;
    position:absolute;
    left: 82.5%;
    bottom: 50%;
    color: var(--text-primary);
    transition: all .3s;
  }


  .card-title {
      font-family: seaford;
      font-size: 1.5em;
      font-weight: 600;
      color: var(--text-primary);
  }

  .card-title-2 {
      font-family: seaford;
      font-size: 3.4vw;
      color: var(--text-primary);
      position: absolute;
      text-align: center;
      top: -65px;
      left: 40%;
  }

  .card-text-title {
      font-family: seaford;
      padding-top: 7px;
      padding-left: 15px;
      font-size: 1.25em;
      font-weight: 600;
      color: var(--text-primary);
  }

  .card-description {
      padding-left: 15px;
      font-size: 1em;
      font-weight: 400;
      color: var(--text-primary);
      text-align: left;
  }

  .card-description-2 {
      padding-left: 15px;
      font-size: 0.8em;
      font-weight: 400;
      color: var(--text-primary);
      text-align: left;
  }

    .experience-container {
        flex-direction: column;
    }
    .projects-container {
        padding:8px;
    }
    .card {
      position: relative;
      top: 25%;
      width: 29%;
      height: 90%;
    }
    .home-center-container {
        margin:auto;
        width:100%;
        height:30%;
        position:absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;

        text-align: center;
    }

    .contact-center-container {
        margin:auto;

        width:100%;
        height:30%;
        position:absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        text-align: center;
    }

    .prices-container {
        margin:auto;

        width:100%;
        height:30%;
        position:absolute;
        top:0;
        left:0;
        right:0;
        text-align: center;
    }

    .price-info-container {
        margin:auto;

        width:100%;
        height:30%;
        position:absolute;
        top:0;
        left:0;
        right:0;
        text-align: center;
    }

    .portfolio-back {
        float: left;
        display: inline-block;
        margin:10px;
        width: 260px;
        height: 340px;
        background-color:#1B1B1B;
        border-radius: 10px;
        cursor: pointer;
        position: relative;

        -webkit-box-shadow: 0 0 var(--card-shadow-size) 2px var(--card-shadow-color);
        -moz-box-shadow: 0 0 var(--card-shadow-size) 2px var(--card-shadow-color);
        box-shadow: 0 0 var(--card-shadow-size) 2px var(--card-shadow-color);
    }

    .sub-title {
      position: relative;
      visibility:hidden;
    }

    .subtitle-list {
      position: relative;
      visibility:hidden;
    }

    .subtitle-list-2 {
        position: relative;
        visibility:hidden;
    }

    .home-lines {
          position: relative;
          visibility:hidden;
    }

    .text-img {
          position: relative;
          top: 0;
          left: 0;
          right: 0;
          object-fit: contain;
          max-height:175px;
          height: 20vw;
          width:auto;
          visibility:visible;
    }

    .form-subtitle {
        position:relative;
        bottom:-8px;
        font-size: clamp(0.3rem, 0.8rem, 6vw);
        width: 55%;
        color: var(--text-primary);
    }

    .navbar {
        top:-1px;
        width:100vw;
        height: 4rem;
    }

    .logo {
        display: none;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .nav-link {
        justify-content: center;
    }

}
