a, a:hover {
  color: #915695;
}


/* Back to top button */
.back-to-top {
  background: 915695;
  color: #915695;
}


.back-to-top:focus {
  background: #915695;
  color: #3e3748;
}

.back-to-top:hover {
  background: #774d7a;
  color: #3e3748;
}

.navbar-default {
  background: #915695;
}

.form-control:focus {
  border-color: #915695;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 2px #00c1c1;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 2px #915695;
}

.service .carousel-indicators .active {
  background: #915695;
}

.btn-theme {
  background: #915695;
}

.contact-widget i {
  color: #915695;
}
